<div class="content-block" [class.optimized]="optimized">
  <h3>{{ title }}</h3>
  <div class="content">
    <img src="https://picsum.photos/3000/2000" alt="Large random placeholder image" class="content-image" style="width: 800px">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="complex-content">
      <div class="grid">
        <div class="grid-item" *ngFor="let i of [1,2,3,4,5,6]">
          Item {{ i }}
        </div>
      </div>
    </div>
  </div>
</div> 